%container
  %ul.panel
    %li.img-block
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm