%container
.row
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
.row  
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
  %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      