%container
  %ul
    %li.img-block
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li.img-block
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li.img-block
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li.img-block
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm