%h1 StaticPages#about
%p Find me in app/views/static_pages/about.html.erb
.row__flex
  .initial
    %i{:href => "/"}
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdsf
  .none
    %i{:href => "/"}
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p lajsdg
  .flex1
    %i{:href => "/"}
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdljgf
  .flex2
    %i{:href => "/"}
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm


.page
  .content1
    %p.block grid
    .grid
      .sub1
        %p.block grid
      .sub2
        %p.block grid
  .content2
    %p.block grid
    .grid
      .sub1
        %p.block grid
      .sub2
        %p.block grid
  .content3
    %p.block grid
    .grid
      .sub1
        %p.block grid
      .sub2
        %p.block grid