%container
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-2
    %li
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm
    %li
      %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
      %p sdfglhkm