.container
  %h1 Home
.row.middle
  .col-4
    %p dsl
  .col-4
    %p dsl
  .col-4
    %p dsl

.row.middle
  .col-12
    %p fsdg

:css
  img {
    max-width: 100%;
  }

.row
  - 12.times do |n|
    .col-1
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
.row
  - 12.times do |n|
    .col-1
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/


%ul.large-block-grid-4.medium-block-grid-3.small-block-grid-2
  - 12.times do |n|
    %li
      %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
