%container.panel.middle
  %h1 
.row.middle.l-inline
  .column
    .column__content
      %p dsl
  .column
    .column__content
      %p dsl
  .column
    .column__content
      %p dsl
.row.middle
  .column-twelve.panel
    .column__content
      %p fsdg

.row        
  .col-1-m
    %p dslsdfhrdsfh
  .col-2-m
    %p dsldghdfgjsdj
  .col-3-m
    %p dsldgffjsdfj
  .col-4-m
    %p dsldsgjsdh
  .col-5-m
    %p dsldghsdfj
  .col-6-m
    %p dsldsgjhsdf
  .col-7-m
    %p dslsdfgjsdfj
  .col-8-m
    %p dsldfghsdfhjsdfhhhhfdhshsdfhkjsd fhdslfhlsdfjhfhss
    %i{:href => "/"}
    %img#railslogo{:alt => "rails logo", :src => "/assets/railslogo.png"}/
    %p sdfglhkm