%container.panel.middle
  %h1 Home
.row.middle
  .col-4
    %p dsl
  .col-4
    %p dsl
  .col-4
    %p dsl

.row.middle
  .col-12.panel
    %p fsdg

.row   
  .col-1
    %p dslsdfhrdsfh
  .col-1
    %p dsldghdfgjsdj
  .col-1
    %p dsldgffjsdfj
  .col-1
    %p dsldsgjsdh
  .col-1
    %p dsldghsdfj
  .col-1
    %p dsldsgjhsdf
  .col-2
    %p dslsdfgjsdfj
  .col-2
    %p dsldfghsdfhjsdfhh