.container#top
  %h1 Home
  %hr
:css
  .frame {
    border: 1px solid black;
    text-align: center;
  }

-#
-# Headings
-#
.row
  %h1 H1 heading
  %h2 H2 heading
  %h3 H3 heading
  %h4 H4 heading
  %h5 H5 heading

-#
-# 2 columns sized 50%.
-#
.row.frame
  %h2 2 columns 50%, framed row.
  .large-col-6.medium-col-6.small-col-6
    %h3 Text 1
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad miniveniam,uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .large-col-6.medium-col-6.small-col-6
    %h3 Text 2
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    

-#
-# MAIN CONTENT AND SIDEBAR. 
-# Shrunk sidebar on smaller devices.
-#
:css
  .standout {
    background: #ccc;
    padding: 5px;
    text-align:center;
  }

.row.standout
  %h2 Main content with sidebar, background colour.
  %h3 Sidebar shrinks to less columns on a smaller screen.
  .large-col-8.medium-col-8.small-col-9.frame
    %h4 This is the main content, framed.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velitessecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .large-col-4.medium-col-4.small-col-3.frame.support
    %h4 Sidebar, framed with shrunk and bolder text.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.

:css
  img {
    max-width: 100%;
  }

-#
-# BLOCK GRID. 
-# On a large screen there are 4 blocks per row and the number gets smaller as the screen does.
-#
.row
  %ul.large-block-grid-4.medium-block-grid-3.small-block-grid-2
    %h2 Block grid of 12 photos of differing sizes. Displayed in rows of 4 for large screens, down to rows of 2 for the smallest breakpoint.
    - 12.times do |n|
      %li
        %img{:alt => "sports pictures", :src =>"http://lorempixel.com/400/#{[*1..5].sample}00/sports/"}/
        %p This is the image text.
%hr

.row
  %h2 Figure, figurecaption.
  %figure
    %img{:alt => "rails logo", :src => "/assets/railslogo.png"}/
    %figcaption This is the figcaption.
%hr

.row
  %h2 Block quote.  
  %blockquote{:cite => "http://studentbeans.com"}
    %p This is a quote taken from studentbeans.
%hr

.row
  %h2 Pre element.
  %pre
    = preserve "this     text\n  \t\taligns differently"
%hr

.row
  %h2 Dl element.
  %dl
    %dt Name
    %dd Rory
    %dt Age
    %dd 26
%hr

.row
  %h2 Table.
  %table
    %tr
      %th 1st header
      %td 1st data
      %td 2nd data
      %td 3rd data
    %tr
      %th 2nd header
      %td 1st data
      %td 2nd data
      %td 3rd data
%hr

.row
  %h2 Highlight text.
  %p
  The &lt;mark&gt; element is used to
  %mark highlight
  text.
%hr

.row
  %h2 Datalist, example with a choice of browsers.
  %h4 Choose a browser from this list:
%input.datalist__input{:list => "browsers"}/
%datalist#browsers
  %option{:value => "Chrome"}
    %option{:value => "Firefox"}
      %option{:value => "Internet Explorer"}
        %option{:value => "Opera"}
          %option{:value => "Safari"}
%hr

.row
  %h2 Anchor tags.
  %a{:href => "#top"} Return to top
%hr