
//===================================================================================
// Links
//===================================================================================

.linkCustom {
    @include customLinks;
}

//===================================================================================
// Buttons.
//===================================================================================
.btn {
  display: inline-block;
  border-radius: $btnRadius;
  overflow: hidden;
  font-family: $baseFontFamily;
  color: $btnFontColor;
  font-size: 1em;
  text-align: center;
  box-shadow: $btnShadow;
  border: $btnBorder;
  @include customLi;
  max-width: 200px;

  &:hover {
    box-shadow: $btnShadowHover;
  }

  &:active {
    box-shadow: $btnShadowActive;
  }
  
  &:visited {
    border: $btnBorderColorVisited;
    color: $btnFontColorVisited;
  }
  
  &:disabled {
    box-shadow: none;
    border: none;
    color: $btnFontColorDisabled;
  }


  &.primary {
    background: $primaryBtnColor;
  }

  &.secondary {
    background: $secondaryBtnColor;
  }

  &.light {
    background: $lightBtnColor;
  }

  &.dark {
    background: $darkBtnColor;
  }
  &.large {
    padding: $btnBase * 2.5;
    
  }
  &.medium {
    padding: $btnBase *1.5;
  }
  &.small {
    padding: $btnBase / 2;
  }
  
}