//===================================================================================
// Clear list defaults and add custom.
//===================================================================================

.liClean {
  @include customLi;
}

//===================================================================================
// Star list.
//===================================================================================
.starsList {
  @include customLi;
  margin-left: 2em;
}

.starsList li:before {
  content: url(star_yellow.png);
  padding-right: 1em;
}

.starsList li {
  text-indent: -2em;
}
