//===================================================================================
// Clear list defaults and add custom.
//===================================================================================

.liClean {
  @include customLi;
}

//===================================================================================
// Star list.
//===================================================================================

.starsList li:before {
  content: url(star_yellow.png);
  padding-right: 1em;
}

.starsList > li {
  text-indent: -2em;
}


//===================================================================================
// Default nav
//===================================================================================
nav {
  @include clearfix;
  li {
    float: right;
    color: $secondaryColor;
    a {
      text-decoration: $liStyle;
      &:hover {
        color: $liHoverColor;
      }
    }
  }
}


