body {
  background-color: $bodyColor;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  font-weight: 400;
  line-height: 1.45;
  color: black;
}

p {
  margin-bottom: 1.3em;
  color: $pColor;
  opacity: $opacity;
}

//===================================================================================
// Headers
//===================================================================================
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: $h1FontSize;
  color: $primaryColor;
  text-shadow: $shadow;
}

h2 {
  font-size: $h2FontSize;
  color: $secondaryColor;
}

h3 {
  font-size: $h3FontSize;
}

h4 {
  font-size: $h4FontSize;
}

small, .support {
  font-size: $smallFontSize;
  font-weight: $fontBolder;
}

//===================================================================================
// Hr
//===================================================================================
hr {
  margin: 3em;
  height: 1px;
  color: $baseFontColor;
}

//===================================================================================
// Block quote
//===================================================================================
blockquote {
  float: left;
  color: black;
  margin-left: 2em;
}

//===================================================================================
// Fig caption
//===================================================================================
figcaption {
  color: $primaryColor;
}

//===================================================================================
// Pre
//===================================================================================
pre {
  color: $clashColor;
}



//===================================================================================
// Dl
//===================================================================================
dt {
  font-size: $dtFontSize;
  color: $dtColor;
}

dd {
  font-size: $ddFontSize;
  color: $ddColor;
}

//===================================================================================
// Tables
//===================================================================================
table, tr, th, td {
  border: $tableBorder;
}
table {
  width: $tableWidth;
  margin: 0 auto;
}

tr {
  
}

th {
  font-size: $tableHeadingFont;
  color: $primaryColor;
}
td {
  background: $secondaryColor;
  padding: 1em;
}


//===================================================================================
// Anchor elements.
//===================================================================================

a {
  color: $primaryColor;
  text-shadow: $anchorShadow;
  font-size: $anchorFontSize;
}

//===================================================================================
// Highlighted text.
//===================================================================================

mark {
  border-radius: $markBorderRadius;
  padding: 3px;
}

//===================================================================================
// Data list.
//===================================================================================

.datalistBox {
  border-radius: $dataListBorderRadius;
  border: $dataListBorder;
  background: $clashColor;
}