@import "mixins";
@import "settings";
//===================================================================================
// Container
//===================================================================================
.container {
  margin: 0 auto;
  max-width: 900px;
}

//===================================================================================
// Rows 
//===================================================================================

.row {
  @include clearfix;

}


//===================================================================================
// Columns 
//===================================================================================

@include col-x-list;


//===================================================================================
// Block grid 
//===================================================================================

//===================================================================================
// 4 Block grid 
//===================================================================================
@include breakpoint(large){
  .block-grid-4 > li {
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .block-grid-4 > li:nth-of-type(4n+1){
    clear: both;
  }
}
//===================================================================================
// 3 Block grid 
//===================================================================================
@include breakpoint(medium){
  .block-grid-3 > li {
    float: left;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .block-grid-3 > li:nth-of-type(3n+1){
    clear: both;
  }
}

//===================================================================================
// 2 Block grid 
//===================================================================================
@include breakpoint(small){
  .block-grid-2 > li {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .block-grid-2 > li:nth-of-type(2n+1){
    clear: both;
  }
}
