html {
  font-size: 1em;
}

body {
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  font-weight: 400;
  line-height: 1.45;
  color: black;
  text-align: center;
}

p {
  margin-bottom: 1.3em;
  color: $p-color;
  opacity: $opacity;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: $h1FontSize;
  color: $main-color;
  text-shadow: $shadow;
}

h2 {
  font-size: $h2FontSize;
  color: $secondary-color;
}

h3 {
  font-size: $h3FontSize;
}

h4 {
  font-size: $h4FontSize;
}

small, .font_small {
  font-size: $smallFontSize;
  font-weight: $fontBolder;
}

