.comment {
  border-top: 5px solid yellow;
  margin-left: 2em;
  margin-right: 2em;
}

.comment__contents {
  overflow: auto;
}
.comment__pic {
  float: left;
  padding-right: 2em;
}

.comment__title {
  h2 {
    color: black;
  } 
}

.comment__text {
  p{
    
    color: black;
    padding-top: 0.5em;
    font: 1.5em Tahoma;
  }
}

