//===================================================================================
// Main comment section
//===================================================================================

.comment {
  border-top: 5px solid yellow;
}

//===================================================================================
// Comment contents, with additional comments nested within.
//===================================================================================

.comment__contents {
  overflow: auto;
}

//===================================================================================
// Comment picture, floated to the left.
//===================================================================================

.comment__pic {
  float: left;
  width: 11em;
  margin-right: 0.8em;
}

//===================================================================================
// Comment text overflow so that the child comment doesn't wrap around the image.
//===================================================================================

.comment__text {
  overflow: auto;
}