//===================================================================================
// Breakpoints
//===================================================================================
@mixin breakpoint ($point) {
  @if $point == large {
    @media(min-width: 64.37em){@content;}
    }
    @else if $point == medium {
      @media (min-width: 50em){@content;}
    }
    @else if $point == small {
      @media (min-width: 37.5em){@content;}
    }
  }


.page-wrap {
  width: 75%;
  @include breakpoint(large) {
    width: 60%;
  }
  @include breakpoint(medium) {
    width: 80%;
  }
  @include breakpoint(small) {
    width: 100%;
  }
}