@import "settings";

*:after {
  box-sizing: border-box;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}  

/* Columns */

$columns: 12;
%float-styles {
  float: left;
}

@mixin col-x-list {
  @for $i from 1 through $columns {
  .col-#{$i}-m { 
  width: ((100% / $columns) * $i);
  @extend %float-styles;
  @media screen and (max-width: 500px) {
  float: none;
  }
   }
  }
}

@include col-x-list;


/* Container */

.container {
  width: $containerWidth;
  max-width: 900px;
  margin-top: 1em;
}


/* Breakpoints */

@mixin breakpoint ($point) {
  @if $point == large {
    @media(min-width: 64.37em){@content;}
    }
    @else if $point == medium {
      @media (min-width: 50em){@content;}
    }
    @else if $point == small {
      @media (min-width: 37.5em){@content;}
    }
  }


.page-wrap {
  width: 75%;
  @include breakpoint(large) {
  width: 60%;
  }
  @include breakpoint(medium) {
  width: 80%;
  }
  @include breakpoint(small) {
  width: 95%;
  }
}


/* Block Grid */


/* Rows */

.row {

}















.l-inline {
  display: inline-block;
  verticle-align: top;
}




.panel {
	background: #bbb;
}



.middle {
	text-align: center;
}






