@import "settings";

//===================================================================================
// html
//===================================================================================
html {
  margin-left: $pageMarginLR;
  margin-right: $pageMarginLR;
}

//===================================================================================
// Container
//===================================================================================
.container {
  margin: 0 auto;
}

//===================================================================================
// Rows 
//===================================================================================

.row {
  @include clearfix;

}


//===================================================================================
// Columns 
//===================================================================================

$columns: 12;


@mixin col-x-list {
  @for $i from 1 through $columns {
  .col-#{$i} { 
    width: ((100% / $columns) * $i);
    float: left;
   }
  }
}

@include col-x-list;




//===================================================================================
// Block Grid
//===================================================================================

.img-block {
  .img {
    float: left;
    margin:0 $column-gutter*2 0 0;
  }
}
