//===================================================================================
// Column 12
//===================================================================================

@mixin col-($point){
  @for $i from 1 through $columns {
  .#{$point}-col-#{$i} { 
    width: ((100% / $columns) * $i);
    float: left;
   }
  }
}

//===================================================================================
// Clearfix
//===================================================================================

@mixin clearfix() { 
  *zoom:1;
    &:before, &:after { 
      content: ""; 
      display: block; 
  }
    &:after { 
      clear: both; 
  }
}

//===================================================================================
// Breakpoint
//===================================================================================

@mixin breakpoint ($point) {
  @if $point == large {
     @media(min-width: 700px){@content;}
   }
  @else if $point == medium {
     @media (min-width: 401px)and (max-width: 699px){@content;}
   }
  @else if $point == small {
     @media (max-width: 400px){@content;}
   }
}

//===================================================================================
// Blockgrid
//===================================================================================

@mixin block-grid-($point, $blockSize) {
  .#{$point}-block-grid-#{$blockSize} > li {
    width: (100% / $blockSize);
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .#{$point}-block-grid-#{$blockSize} > li:nth-of-type(n){
    clear: none;
  }
  .#{$point}-block-grid-#{$blockSize} > li:nth-of-type(#{$blockSize}n+1){
    clear: both;
  }
}

//===================================================================================
// Clear list defaults and add custom.
//===================================================================================

@mixin customLi(){
    float: left;
    list-style: none;
    margin: 1em;
    margin-left: 7em;
    margin-right: 7em;
    text-decoration: none;
}

//===================================================================================
// Custom links
//===================================================================================

@mixin customLinks(){
    margin-bottom: 2em;
    background: $primaryColor;
    a {
    color: $secondaryColor;
    &:hover {
      color: $lightBlue;
      background: $secondaryColor;
    }
  }
}