/* Global variables for site wide changed */

//===================================================================================
// Container
//===================================================================================

$containerWidth: 100%;

//===================================================================================
// Base fonts
//===================================================================================
/* Sizing */
$baseFontSize: 16px;
$baseFontColor: #fb6225;
$baseFontFamily: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$h1FontSize: 3.998em;
$h2FontSize: 2.827em;
$h3FontSize: 1.999em;
$h4FontSize: 1.414em;
$smallFontSize: 0.707em;
$dtFontSize: 1.999em;
$ddFontSize: 1.414em;
$tableHeadingFont: 1.999em;
$anchorFontSize: 1.999em;

/* Font-weight */
$fontLighter: lighter;
$fontBolder: bolder;

/* Shadow */
$shadow: 0px 1px 3px black;

//===================================================================================
// Colors.
//===================================================================================

$primaryColor: #aa6439;
$secondaryColor: #a13646;
$bodyColor: white;
$pColor: #aa7f39;
$clashColor: #ff69b4;
$dtColor: black;
$ddColor: #ccc;


$gradientBackground: linear-gradient(to right, #ffd8d8, #ffb4b4 55%, #d85959);

/* Opacity */
$opacity: 0.5;



//===================================================================================
// Heading
//===================================================================================
$headerColor: #ccc;

//===================================================================================
// Tables
//===================================================================================

$tableWidth: 30em;
$tableBorder: 1px solid black;

//===================================================================================
// Articles
//===================================================================================

$articleWidth: 70%;
$articleBorder: 4px dashed black;
$articlePadding: 3em;

//===================================================================================
// Anchor tags
//===================================================================================

$anchorShadow: 0px 1px 2px black;

//===================================================================================
// Mark
//===================================================================================

$markBorderRadius: 3px;

//===================================================================================
// Datalist
//===================================================================================

$dataListBorderRadius: 4px;
$dataListBorder: 2px solid pink;

//===================================================================================
//Links
//===================================================================================

$linkColor: red;

//===================================================================================
// Columns
//===================================================================================

$columns: 12;
$column-gutter: 40px !default;

